*:not(.latex-render *) {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #252526;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* ------------- HEADER ------------- */
.header {
    background-color: #252526;
    color: #ABB2BF;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 2px 12px;
}

.right-container,
.left-container,
.page-buttons {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.left-container {
    margin-left: 2px;
}

.github-button {
    height: 60px;
    width: 60px;
    background-size: contain;
    background-image: url(/images/github.svg);
    margin-top: 4px;
    transition: transform 0.3s ease;
}

.github-button:hover {
    transform: scale(1.15);
}

.page-button {
    background-color: #2D2D2D;
    color: #ABB2BF;
    border: 1px solid #333333;
    border-radius: 8px;
    height: 48px;
    width: 144px;
    font-size: 1.2em;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.profile-button {
    height: 52px;
    width: 52px;
    margin-right: 8px;
    background-color: transparent;
    border: none;
    background-size: contain;
    background-image: url(/images/pfp.svg);
}

.darkmode-toggle {
    color: #ABB2BF;
    font-size: 36px;
    margin-top: 8px;
}


/* ------------- SIDEBAR ------------- */
.sidebar {
    background-color: #252526;
    color: #ABB2BF;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: space-between;
    padding: 24px 12px 24px 10px;
}

/* .sidebar-toggle {
    background-color: #252526;
    position: absolute;
    z-index: 4;
    height: 50px;
    width: 50px;
} */

.tools-container,
.utilities-container {
    display: flex;
    flex-direction: column;
}

.tools-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.utilities-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sidebar-button {
    background-color: #2D2D2D;
    border: 1px solid #333333;
    height: 4.5em;
    width: 5em;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.page-button:hover,
.sidebar-button:hover,
.symbols-button:hover {
    transform: scale(1.03);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.35);
}

.page-button:active,
.sidebar-button:active,
.symbols-button:active {
    transform: scale(1.00) translateY(2px);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #282828;
}


/* ------------- SIDE PANELS ------------- */

/* Generic Panel Template */
.side-panel {
    height: 250px;
    width: 250px;
    position: absolute;
    z-index: 5;
    left: 100%;
    margin-left: 24px;
    background-color: #2D2D2D;
    border: 3px solid #252526;
    border-radius: 28px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    background-size: contain;
}

.side-panel::before {
    content: '';
    position: absolute;
    top: var(--triangle-top, 50%);
    right: 100%;
    transform: translateY(-50%);
    width: 24px;
    height: 28px;
    background-color: #2D2D2D;
    clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
    margin-right: -1px;
}

.panel-content {
    padding: 2px 8px;
}

.panel-title {
    font-weight: 700;
    font-size: 24px;
    text-shadow: 2px 2px 6px #1e1e1e;
}

.placeholder-panel {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 0px 0px 0px;
    gap: 72px;
}

/* Settings Panel */

.settings-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.setting-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    flex-grow: 1;
}

.setting-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.setting-name {
    font-weight: 600;
    font-size: 16px;
    white-space: pre-line;
}

.setting-desc {
    font-size: 10px;
    color: #78797F;
}


/* Export Panel */

.export-panel-container {
    width: 270px;
    height: 210px;
}

.export-panel {
    display: flex;
    flex-direction: column;
    padding: 8px 14px;
    gap: 18px;
    margin-right: 5px;
}

.export-title {
    text-align: center;
    font-size: 24px;
}

.export-title,
.symbols-header .panel-title,
.format-header,
.panel-title,
.settings-panel .panel-title {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
    text-decoration-style: double;
    text-decoration-color: #78797fbc;
}

.export-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.export-item {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
}

.export-option {
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-style: dotted;
    text-underline-offset: 4px;
    text-shadow: 4px 4px 16px #1e1e1e;
}

.export-button {
    font: bold 16px 'SF Mono', 'Courier New', 'Lucida Console', monospace;
    padding: 7px 16px 7px 14px;
    color: white;
    text-align: center;
    background-color: #5094d4b6;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s ease, box-shadow 0.1s ease, background-color 0.1s ease;
}

.export-button:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    background-color: #5094d4ab;
}

.export-button:active {
    transform: scale(1.00) translateY(2px);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #3276b1c7;
}


/* Symbols Panel */

.symbols-panel-container {
    width: 420px;
    height: 268px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 34px;
    border-bottom-left-radius: 34px;
}

.symbols-panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.symbols-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 12px 0 20px;
    align-self: stretch;
    transform: translate(0, 1px);
}

.symbols-preview-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-bottom: 1px;
}

.preview-toggle-label {
    font-size: 16px;
    color: #78797F;
    font-style: italic;
    padding-bottom: 2px;
}

.symbols-content-container {
    border: 2px solid #373737;
    height: 220px;
    width: 410px;
    border-radius: 28px;
    display: flex;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    margin-bottom: 2px;
}

.symbols-menu {
    display: flex;
    flex-direction: column;
    /* box-sizing: border-box; */
    min-width: 100px;
    background-color: #373737;
    border-top-left-radius: 26px;
    border-bottom-left-radius: 26px;
    justify-content: center;
    align-items: center;
}

.symbols-category {
    flex-grow: 1;
    background-color: #373737;
    border: none;
    color: #ABB2BF;
    font-size: 14px;
    font-weight: bold;
    padding: 0 8px;
    width: 100%;
}

.symbols-category.operators {
    border-radius: 26px 0 0 0;
}

.symbols-category.structures {
    border-radius: 0 0 0 26px;
}

.symbols-category.active {
    background-color: #2D2D2D;
    border-right: 2px dashed #373737;
}

.category-separator {
    height: 1px;
    width: 80px;
    background-color: #abb2bf85;
}

.symbols-items-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    padding: 8px 16px;
    overflow: scroll;
}

.symbols-item-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.symbols-subcategory {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
    text-decoration-color: #abb2bf7b;
}

.symbols-buttons-container {
    display: flex;
    justify-content: space-end;
    align-items: center;
    gap: 18px;
    padding: 0px 4px;
}

.symbols-button {
    height: 40px;
    width: 40px;
    background-size: 85% 85%;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    border: 2px solid #abb2bf5e;
    background-color: #2D2D2D;
    border-radius: 6px;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.35);
}


/* Format Panel */

.format-panel-container {
    width: 440px;
    height: 205px;
    display: flex;
    align-items: start;
    justify-content: center;
}

.format-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-top: 12px;
}

.format-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    align-self: stretch;
    padding: 0 8px;
}

.reset-format {
    background-image: url(/images/reset.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    height: 12px;
    width: 12px;
    margin-top: 12px;
    margin-right: 10px;
    transform: scale(2.8);
    transform-origin: center;
}

.format-content-container {
    width: 410px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.fonts-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fonts-dropdown {
    background-color: #373737;
    padding: 12px 80px;
    border-radius: 8px;
    border: 2px solid #abb2bf85;
}

.format-input {
    height: 48px;
    width: 56px;
    box-sizing: border-box;
    border: 2px solid #373737;
    border-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #252526;
    color: #ABB2BF;
    line-height: 42px;
    text-align: center;
}

.font-size-container,
.line-spacing-container {
    display: flex;
    align-items: center;
    padding-left: 4px;
    transform: translate(-2px);
}

.font-size-controls,
.line-spacing-controls {
    display: flex;
    flex-direction: column;
}

.controller-icon {
    width: 36px;
    height: 36px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(-8px);
    padding-right: 4px;
}

.font-size-icon {
    background-image: url(/images/font-size-icon.png);
}

.line-spacing-icon {
    background-image: url(/images/line-spacing-icon.png);
    width: 40px;
    height: 40px;
}

.control-button {
    height: 24px;
    width: 20px;
    border: none;
    background-color: #373737;
    color: #ABB2BF;
    margin-right: 2px;
    font-size: 18px;
    text-indent: -2px;
    transition: background-color 0.15s ease, transform 0.1s ease;
}

.control-button:hover {
    background-color: #3e3d3d;
    color: #bbc1ce;
}

.control-button:active {
    background-color: #2b2b2b;
    color: #ABB2BF;
    transform: translateY(1px);
}




.control-button.increase-button {
    border-top-right-radius: 8px;
}

.control-button.decrease-button {
    border-bottom-right-radius: 8px;
}

.format-button {
    height: 48px;
    width: 48px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 2px solid #abb2bf85;
    background-color: #373737;
    color: #ABB2BF;
    text-align: center;
    font-size: 28px;
}

.format-button.bold-button,
.format-button.align-left-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 1px solid #abb2bf85;
}

.format-button.italic-button,
.format-button.align-right-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px solid #abb2bf85;
}

.format-button.align-center-button {
    border-radius: 0;
}

.bold-button {
    font-weight: bold;
}

.italic-button {
    font-style: italic;
}

.text-align-container .format-button {
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
}

.align-left-button {
    background-image: url(/images/align-left.svg);
}

.align-center-button {
    background-image: url(/images/align-center.svg);
}

.align-right-button {
    background-image: url(/images/align-right.svg);
}

.formatting-container {
    display: flex;
    justify-content: space-between;
}

.text-styling-container {
    display: flex;
}

.text-align-container {
    display: flex;
}

/* ------------- MAIN CONTENT ------------- */
.main {
    display: flex;
    flex-grow: 1;
    min-height: 0;
}

.content-view {
    display: flex;
    flex-grow: 1;
}

.content-window {
    flex: 1;
    /* overflow: hidden; */
}

/* Latex Editor Window */
.latex-editor {
    background-color: #1E1E1E;
    color: #ABB2BF;
    border-top-left-radius: 16px;
    border-top-right-radius: 8px;
}

.latex-editor.content-window {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-right: 2px solid #252526;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.cm-editor {
    height: 100% !important;
}

.cm-editor.cm-focused {
    outline: none;
}

.cm-gutter.cm-lineNumbers {
    min-width: 29px;
    margin-left: -4px;
}

/* selection highlight color */
.cm-selectionBackground,
::selection {
    background-color: rgba(82, 139, 255, 0.3) !important;
}

/* Latex Render Preview Window */
.latex-render {
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    border-left: 2px solid #252526;
    padding: 8px;
}


/* ------------- ICONS ------------- */

/* ---- Sidebar Buttons ---- */
/* Tools Container */
.sidebar-button.help {
    background-image: url(/images/question.svg);
    background-size: 75% 75%;
}

.sidebar-button.symbols {
    background-image: url(/images/sigma.svg);
    background-size: 80% 80%;
}

.sidebar-button.format {
    background-image: url(/images/formatting.svg);
    background-size: 80% 80%;
}

.sidebar-button.cheatsheet {
    background-image: url(/images/keyboard.svg);
    background-size: 90% 90%;
}

.sidebar-button.compile {
    background-image: url(/images/compile.svg);
    background-size: 90% 90%;
}

/* Utilities Container */
.sidebar-button.export {
    background-image: url(/images/export.svg);
    background-size: 85% 85%;
}

.sidebar-button.files {
    background-image: url(/images/folder.svg);
    background-size: 103%;
}

.sidebar-button.settings {
    background-image: url(/images/settings.svg);
    background-size: 85% 85%;
}


/* ---- Symbol Buttons ---- */
/* Operators */
.symbols-button.plusminus {
    background-image: url(/images/symbols/plusminus.svg)
}

.symbols-button.division {
    background-image: url(/images/symbols/division.svg)
}

.symbols-button.geq {
    background-image: url(/images/symbols/geq.svg)
}

.symbols-button.leq {
    background-image: url(/images/symbols/leq.svg)
}

.symbols-button.neq {
    background-image: url(/images/symbols/neq.svg)
}

.symbols-button.land {
    background-image: url(/images/symbols/land.svg)
}

.symbols-button.lor {
    background-image: url(/images/symbols/lor.svg)
}

.symbols-button.rarrow {
    background-image: url(/images/symbols/rarrow.svg)
}

.symbols-button.forall {
    background-image: url(/images/symbols/forall.svg)
}

.symbols-button.exists {
    background-image: url(/images/symbols/exists.svg)
}

.symbols-button.infin {
    background-image: url(/images/symbols/infin.svg)
}

.symbols-button.triangle {
    background-image: url(/images/symbols/triangle.svg)
}

/* Greek */
.symbols-button.alpha {
    background-image: url(/images/symbols/alpha.svg)
}

.symbols-button.beta {
    background-image: url(/images/symbols/beta.svg)
}

.symbols-button.chi {
    background-image: url(/images/symbols/chi.svg)
}

.symbols-button.delta {
    background-image: url(/images/symbols/delta.svg)
}

.symbols-button.epsilon {
    background-image: url(/images/symbols/epsilon.svg)
}

.symbols-button.deltaUp {
    background-image: url(/images/symbols/deltaUp.svg)
}

.symbols-button.gammaUp {
    background-image: url(/images/symbols/gammaUp.svg)
}

.symbols-button.lambdaUp {
    background-image: url(/images/symbols/lambdaUp.svg)
}

.symbols-button.omegaUp {
    background-image: url(/images/symbols/omegaUp.svg)
}

/* Structures */
.symbols-button.summation {
    background-image: url(/images/symbols/summation.svg)
}

.symbols-button.product {
    background-image: url(/images/symbols/product.svg)
}

.symbols-button.integral {
    background-image: url(/images/symbols/integral.svg)
}

.symbols-button.integral-bounds {
    background-image: url(/images/symbols/integral-bounds.svg)
}

.symbols-button.limit {
    background-image: url(/images/symbols/limit.svg)
}

.symbols-button.sqrt {
    background-image: url(/images/symbols/sqrt.svg)
}

.symbols-button.frac {
    background-image: url(/images/symbols/frac.svg)
}