* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: 1px solid red; */
}

body {
    display: flex;
    flex-direction: column;
    background-color: #252526;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* HEADER */
.header {
    background-color: #252526;
    color: #ABB2BF;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 2px 12px;
}

.right-container,
.left-container,
.page-buttons {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.left-container {
    margin-left: 2px;
}

.github-button {
    height: 60px;
    width: 60px;
    background-size: contain;
    background-image: url(/images/github.svg);
    margin-top: 4px;
    transition: transform 0.3s ease;
}

.github-button:hover {
    transform: scale(1.15);
}

.page-button {
    background-color: #2D2D2D;
    color: #ABB2BF;
    border: 1px solid #333333;
    border-radius: 8px;
    height: 48px;
    width: 144px;
    font-size: 1.2em;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.profile-button {
    height: 52px;
    width: 52px;
    margin-right: 8px;
    background-color: transparent;
    border: none;
    background-size: contain;
    background-image: url(/images/pfp.svg);
}

.darkmode-toggle {
    color: #ABB2BF;
    font-size: 36px;
    margin-top: 8px;
}


/* SIDEBAR */
.sidebar {
    background-color: #252526;
    color: #ABB2BF;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: space-between;
    padding: 24px 12px 24px 10px;
}

.tools-container,
.utilities-container {
    display: flex;
    flex-direction: column;
}

.tools-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.utilities-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sidebar-button {
    background-color: #2D2D2D;
    border: 1px solid #333333;
    height: 4.5em;
    width: 5em;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.page-button:hover,
.sidebar-button:hover {
    transform: scale(1.03);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.35);
}

.page-button:active,
.sidebar-button:active {
    transform: scale(1.00) translateY(2px); 
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0,0,0,0.1); 
    background-color: #282828; 
}

/* Tools Container */
.help {
    background-image: url(/images/question.svg);
    background-size: 75% 75%;
}

.symbols {
    background-image: url(/images/sigma.svg);
    background-size: 80% 80%;
}

.formatting {
    background-image: url(/images/formatting.svg);
    background-size: 80% 80%;
}

.cheatsheet {
    background-image: url(/images/keyboard.svg);
    background-size: 90% 90%;
}


.compile {
    background-image: url(/images/compile.svg);
    background-size: 90% 90%;

}

/* Utilities Container */
.export {
    background-image: url(/images/export.svg);
    background-size: 85% 85%;
}

.files {
    background-image: url(/images/folder.svg);
    background-size: 103%;
}

.settings {
    background-image: url(/images/settings.svg);
    background-size: 85% 85%;
}


/* SIDE PANELS */
.side-panel {
    height: 250px;
    width: 250px;
    position: absolute;
    z-index: 5;
    left: 100%;
    bottom: -15%;
    margin-left: 24px;
    background-color: #2D2D2D;
    border: 3px solid #252526;
    border-radius: 28px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.side-panel::before {
    content: '';
    position: absolute;
    top: 85%;
    right: 100%;
    transform: translateY(-50%);
    width: 24px;
    height: 28px;
    background-color: #2D2D2D;
    clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
    margin-right: -1px;
}








/* MAIN CONTENT */
.main {
    display: flex;
    flex-grow: 1;
    min-height: 0;
}

.content-view {
    display: flex;
    flex-grow: 1;
}

.content-window {
    flex: 1;
    /* overflow: hidden; */
}

/* Latex Editor Window */
.latex-editor {
    background-color: #1E1E1E;
    color: #ABB2BF;
    border-top-left-radius: 16px;
    border-top-right-radius: 8px;
}

.latex-editor.content-window {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-right: 2px solid #252526;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.cm-editor {
    height: 100% !important;
}

.cm-editor.cm-focused {
    outline: none;
}

.cm-gutter.cm-lineNumbers {
    min-width: 29px;
    margin-left: -4px;
}

/* selection highlight color */
.cm-selectionBackground,
::selection {
    background-color: rgba(82, 139, 255, 0.3) !important;
}



/* Latex Render Preview Window */
.latex-render {
    /* background-color: #1E1E1E;
    color: #ABB2BF; */
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    border-left: 2px solid #252526;
    padding: 8px;
}