* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: 1px solid red; */
}

body {
    display: flex;
    flex-direction: column;
    background-color: #252526;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* HEADER */
.header {
    background-color: #252526;
    color: #ABB2BF;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 2px 12px;
}

.right-container, .left-container, .page-buttons {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.github-button {
    height: 60px;
    width: 60px;
    background-size: contain;
    background-image: url(images/github.svg);
    margin-top: 4px;
    transition: transform 0.3s ease;
}

.github-button:hover{
    transform: scale(1.15);
}

.page-button {
    background-color: #2D2D2D;
    color: #ABB2BF;
    border: 1px solid #333333;
    border-radius: 8px;
    height: 48px;
    width: 144px;
    font-size: 1.2em;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.profile-button {
    height: 52px;
    width: 52px;
    background-color: transparent;
    border: none;
    background-size: contain;
    background-image: url(images/pfp.svg);
}


/* SIDEBAR */
.sidebar {
    background-color: #252526;
    color: #ABB2BF;
    display: flex;
    flex-direction: column;
    flex-shrink: 0; 
    justify-content: space-between;
    padding: 24px 8px;
}

.tools-container, .utilities-container {
    display: flex;
    flex-direction: column;
}

.tools-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.utilities-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sidebar-button {
    background-color: #2D2D2D;
    border: 1px solid #333333;
    height: 4.5em;
    width: 5em;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

/* Tools Container */
.help {
    background-image: url(images/question.svg);
    background-size: 75% 75%;
}
.symbols {
    background-image: url(images/sigma.svg);
    background-size: 80% 80%;
}
.formatting {
    background-image: url(images/formatting.svg);
    background-size: 80% 80%;
}
.cheatsheet {
    background-image: url(images/keyboard.svg);
    background-size: 90% 90%;
}

/* Utilities Container */
.export {
    background-image: url(images/export.svg);
    background-size: 85% 85%;
}
.files {
    background-image: url(images/folder.svg);
    background-size: 103%;
}
.settings{
    background-image: url(images/settings.svg);
    background-size: 85% 85%;
}

.page-button:hover, .sidebar-button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}


/* MAIN CONTENT */
.main {
    display: flex;
    flex-grow: 1;
}

.content-view {
    display: flex;
    flex-grow: 1;
}

.content-window {
    flex: 1;
}

/* Latex Editor Window */
.latex-editor {
    background-color: #1E1E1E;
    color: #ABB2BF;
    border: 1px solid #333333;
    border-top-left-radius: 16px;
    border-top-right-radius: 8px;
}

/* Latex Render Preview Window */
.latex-render {
    background-color: #1E1E1E;
    color: #ABB2BF;
    border: 1px solid #333333;
    border-top-right-radius: 16px;
    border-top-left-radius: 8px;
}